In [94]:
import pandas as pd
import numpy as np

In [95]:
df1=pd.read_excel("./data/Ashopping.xlsx")
df1

,고객ID,이탈여부,총_매출액,방문빈도,1회_평균매출액,할인권_사용 횟수,총_할인_금액,고객등급,구매유형,클레임접수여부,...,매장_청결성,공간_편의성,시야_확보성,음향_적절성,안내_표지판_설명,친절성,신속성,책임성,정확성,전문성
0,1,0,4007080,17,235711,1,5445,1,4,0,...,6,7,6,6,6,6,6,6,6,6
1,2,1,3168400,14,226314,22,350995,2,4,0,...,7,7,6,6,6,5,3,6,6,6
2,3,0,2680780,18,148932,6,186045,1,4,1,...,6,6,6,6,6,7,7,6,6,7
3,4,0,5946600,17,349800,1,5195,1,4,1,...,6,6,5,6,6,6,6,6,5,6
4,5,0,13745950,73,188301,9,246350,1,2,0,...,5,6,6,6,5,5,6,6,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0,5135090,8,641886,3,44445,1,3,1,...,6,6,7,6,7,6,6,6,6,6
996,997,0,10315690,49,210524,6,186545,1,2,0,...,6,7,6,5,6,5,7,6,6,6
997,998,0,2741290,10,274129,8,260700,2,4,0,...,5,6,6,6,5,6,4,5,6,5
998,999,0,11268990,15,751266,20,347700,1,3,0,...,5,4,4,4,4,4,5,5,4,4
999,1000,0,3182880,23,138386,19,367045,1,4,0,...,7,7,6,7,6,5,6,7,6,6

In [96]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   고객ID              1000 non-null   int64
 1   이탈여부              1000 non-null   int64
 2   총_매출액             1000 non-null   int64
 3   방문빈도              1000 non-null   int64
 4   1회_평균매출액          1000 non-null   int64
 5   할인권_사용 횟수         1000 non-null   int64
 6   총_할인_금액           1000 non-null   int64
 7   고객등급              1000 non-null   int64
 8   구매유형              1000 non-null   int64
 9   클레임접수여부           1000 non-null   int64
 10  구매_카테고리_수         1000 non-null   int64
 11  거주지역              1000 non-null   int64
 12  성별                1000 non-null   int64
 13  고객_나이대            1000 non-null   int64
 14  거래기간              1000 non-null   int64
 15  할인민감여부            1000 non-null   int64
 16  멤버쉽_프로그램_가입전_만족도  1000 non-null   int64
 17  멤버쉽_프로그램_가입후_만족도  1000 non-null   int64
 18  Recency           1000 non-null   int64
 19  Frequency         1000 non-null   int64
 20  Monetary          1000 non-null   int64
 21  상품_만족도            1000 non-null   int64
 22  매장_만족도            1000 non-null   int64
 23  서비스_만족도           1000 non-null   int64
 24  상품_품질             1000 non-null   int64
 25  상품_다양성            1000 non-null   int64
 26  가격_적절성            1000 non-null   int64
 27  상품_진열_위치          934 non-null    float64
 28  상품_설명_표시          862 non-null    float64
 29  매장_청결성            1000 non-null   int64
 30  공간_편의성            1000 non-null   int64
 31  시야_확보성            1000 non-null   int64
 32  음향_적절성            1000 non-null   int64
 33  안내_표지판_설명         1000 non-null   int64
 34  친절성               1000 non-null   int64
 35  신속성               1000 non-null   int64
 36  책임성               1000 non-null   int64
 37  정확성               1000 non-null   int64
 38  전문성               1000 non-null   int64
dtypes: float64(2), int64(37)
memory usage: 304.8 KB

In [97]:
df2 = pd.read_excel("./data/online_diet.xlsx")
df2

c:\Users\OPERATOR-70\anaconda3\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,loss_part,diet_purpose,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2011,0162655575,830219.0,135-080,15.0,2.0,165.0,49.0,0.0,NaN,...,"3, 6",1.0,NaN,17.0,21654,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-05 오후 7:17:10,1
4454,2012,12girl,781007.0,136-043,17.0,2.0,160.0,63.0,0.0,2,...,"1, 6",3.0,NaN,24.0,21656,PDFMEAL014,풀무원 드림다이어트,300000,2001-07-05 오후 8:02:18,1
4455,2013,onlyonelhm,880330.0,327-030,15.0,2.0,159.0,58.0,0.0,NaN,...,"1, 2, 3, 4, 6, 7",1.0,NaN,22.0,21664,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-06 오전 1:17:45,1
4456,2014,morebest1,760709.0,0000000,12.0,1.0,177.0,109.0,0.0,NaN,...,"1, 2, 4, 8",3.0,"1, 4, 5",34.0,21665,MDFMEAL007,대상다이어트프로그램,70000,2001-07-06 오전 1:50:12,1
4457,2015,kiya80,770426.0,660-322,12.0,2.0,156.0,49.0,0.0,1,...,"1, 6",2.0,4,20.0,21666,PDFMEAL016,깜짝변신 다이어트세트,130000,2001-07-06 오전 2:27:39,1

In [98]:
df2.isnull().sum()

seq_num            0
id                 0
social_id1         1
zip_code           2
occupation         2
sex                2
height             2
weight             2
married            2
dise            1528
want_diet          2
created            0
waist           1323
heap            2559
loss_part        252
diet_purpose     275
diet            1047
bmi                2
order_id           0
pfid               0
p_name             0
p_price            0
p_created          0
p_quantity         0
dtype: int64

In [99]:
for i in df2.index:
    if df2.loc[i,"loss_part"].str.contains('1',na=False)== 1:
        df2.loc[i,'1'] = 1

AttributeError: 'str' object has no attribute 'str'

In [ ]:
(df2["loss_part"].str.contains('1',na=False)== 1)* 1

0       1
1       1
2       1
3       1
4       1
       ..
4453    0
4454    1
4455    1
4456    1
4457    1
Name: loss_part, Length: 4458, dtype: int32

In [ ]:
df2["1"] = (df2["loss_part"].str.contains('1',na=False)* 1)
df2["2"] = (df2["loss_part"].str.contains('2',na=False)* 2)
df2["3"] = (df2["loss_part"].str.contains('3',na=False)* 3)
df2

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity,1,2,3
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1,1,2,0
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1,1,2,0
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1,1,2,0
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1,1,2,0
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2011,0162655575,830219.0,135-080,15.0,2.0,165.0,49.0,0.0,NaN,...,17.0,21654,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-05 오후 7:17:10,1,0,0,3
4454,2012,12girl,781007.0,136-043,17.0,2.0,160.0,63.0,0.0,2,...,24.0,21656,PDFMEAL014,풀무원 드림다이어트,300000,2001-07-05 오후 8:02:18,1,1,0,0
4455,2013,onlyonelhm,880330.0,327-030,15.0,2.0,159.0,58.0,0.0,NaN,...,22.0,21664,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-06 오전 1:17:45,1,1,2,3
4456,2014,morebest1,760709.0,0000000,12.0,1.0,177.0,109.0,0.0,NaN,...,34.0,21665,MDFMEAL007,대상다이어트프로그램,70000,2001-07-06 오전 1:50:12,1,1,2,0
4457,2015,kiya80,770426.0,660-322,12.0,2.0,156.0,49.0,0.0,1,...,20.0,21666,PDFMEAL016,깜짝변신 다이어트세트,130000,2001-07-06 오전 2:27:39,1,1,0,0

In [ ]:
list = ["1","2","3","4","5","6","7"]

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity,1,2
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1,1,2
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1,1,2
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1,1,2
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1,1,2
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2011,0162655575,830219.0,135-080,15.0,2.0,165.0,49.0,0.0,NaN,...,NaN,17.0,21654,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-05 오후 7:17:10,1,0,0
4454,2012,12girl,781007.0,136-043,17.0,2.0,160.0,63.0,0.0,2,...,NaN,24.0,21656,PDFMEAL014,풀무원 드림다이어트,300000,2001-07-05 오후 8:02:18,1,1,0
4455,2013,onlyonelhm,880330.0,327-030,15.0,2.0,159.0,58.0,0.0,NaN,...,NaN,22.0,21664,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-06 오전 1:17:45,1,1,2
4456,2014,morebest1,760709.0,0000000,12.0,1.0,177.0,109.0,0.0,NaN,...,"1, 4, 5",34.0,21665,MDFMEAL007,대상다이어트프로그램,70000,2001-07-06 오전 1:50:12,1,1,2
4457,2015,kiya80,770426.0,660-322,12.0,2.0,156.0,49.0,0.0,1,...,4,20.0,21666,PDFMEAL016,깜짝변신 다이어트세트,130000,2001-07-06 오전 2:27:39,1,1,0

In [ ]:
df2["id"].value_counts()

webinner      64
ivy0222       31
rosareo       16
gooddiet      14
youngya624    11
              ..
donggle6       1
sunhi6         1
sae011         1
jjh990662      1
kiya80         1
Name: id, Length: 3314, dtype: int64

In [ ]:
a = df2[df2["id"] == 'webinner']
a

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,loss_part,diet_purpose,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3361,811,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,19274,MDEPART001,매직마스크,24900,2001-06-09 오후 12:19:39,1
3746,1225,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,20780,MDFMEAL020,대상참생식,77000,2001-06-21 오후 1:39:33,1
3818,1303,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,20917,PDFMEAL013,풀무원 다이어트 클래식,100000,2001-06-25 오전 8:43:36,1
4207,1744,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,25010,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-08-06 오후 7:11:30,1
4350,1893,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,21214,MDGLIKE008,미용척추벨트,27000,2001-07-06 오전 9:30:12,1

In [ ]:
b = a[:30]
c = a[30:]

In [ ]:
d = pd.merge(b,c,how='outer')
d

C:\Users\OPERATOR-70\AppData\Local\Temp\ipykernel_24892\2404575283.py:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  d = pd.merge(b,c,how='outer')

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,loss_part,diet_purpose,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,811,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,19274,MDEPART001,매직마스크,24900,2001-06-09 오후 12:19:39,1
60,1225,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,20780,MDFMEAL020,대상참생식,77000,2001-06-21 오후 1:39:33,1
61,1303,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,20917,PDFMEAL013,풀무원 다이어트 클래식,100000,2001-06-25 오전 8:43:36,1
62,1744,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,25010,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-08-06 오후 7:11:30,1
63,1893,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,21214,MDGLIKE008,미용척추벨트,27000,2001-07-06 오전 9:30:12,1

In [ ]:
e = pd.merge(b,c,how='inner')
e

Empty DataFrame
Columns: [seq_num, id, social_id1, zip_code, occupation, sex, height, weight, married, dise, want_diet, created, waist, heap, loss_part, diet_purpose, diet, bmi, order_id, pfid, p_name, p_price, p_created, p_quantity]
Index: []

[0 rows x 24 columns]

In [ ]:
e = pd.merge(b,c, how ='inner',on='id')
e

,seq_num_x,id,social_id1_x,zip_code_x,occupation_x,sex_x,height_x,weight_x,married_x,dise_x,...,loss_part_y,diet_purpose_y,diet_y,bmi_y,order_id_y,pfid_y,p_name_y,p_price_y,p_created_y,p_quantity_y
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,25832,PDFFUNC001,내추럴하우스 라인-업(특별사은품:훌라후프),1800000,2001-08-09 오후 1:35:21,30
1,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,29381,MDGFASH033,7종 여성 기능성 속옷세트,68000,2001-08-23 오후 4:25:52,1
2,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,23361,MDEPART009,GDS-미니스텝퍼,39900,2001-07-30 오후 3:15:31,1
3,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,22974,MDGLIKE010,다이어트 짐닉볼65,51000,2001-07-24 오후 1:55:59,1
4,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,22320,MDEHLCE005,GDS-2466MB 마그네틱 자전거,272800,2001-07-18 오전 9:47:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,3212,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,19274,MDEPART001,매직마스크,24900,2001-06-09 오후 12:19:39,1
1016,3212,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,20780,MDFMEAL020,대상참생식,77000,2001-06-21 오후 1:39:33,1
1017,3212,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,20917,PDFMEAL013,풀무원 다이어트 클래식,100000,2001-06-25 오전 8:43:36,1
1018,3212,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,25010,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-08-06 오후 7:11:30,1
1019,3212,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,"1, 2",3.0,4,21.0,21214,MDGLIKE008,미용척추벨트,27000,2001-07-06 오전 9:30:12,1

In [ ]:
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 63
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seq_num       64 non-null     int64
 1   id            64 non-null     object
 2   social_id1    64 non-null     float64
 3   zip_code      64 non-null     object
 4   occupation    64 non-null     float64
 5   sex           64 non-null     float64
 6   height        64 non-null     float64
 7   weight        64 non-null     float64
 8   married       64 non-null     float64
 9   dise          0 non-null      object
 10  want_diet     64 non-null     float64
 11  created       64 non-null     object
 12  waist         0 non-null      object
 13  heap          0 non-null      object
 14  loss_part     64 non-null     object
 15  diet_purpose  64 non-null     float64
 16  diet          64 non-null     object
 17  bmi           64 non-null     float64
 18  order_id      64 non-null     int64
 19  pfid          64 non-null     object
 20  p_name        64 non-null     object
 21  p_price       64 non-null     int64
 22  p_created     64 non-null     object
 23  p_quantity    64 non-null     int64
dtypes: float64(9), int64(4), object(11)
memory usage: 12.5+ KB

In [ ]:
b = df2[(df2["id"] == 'ivy0222') | (df2["id"] == 'youngya624')]
b

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,loss_part,diet_purpose,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity
262,4366,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,30015,MDGFASH004,다이어트 반바지,20000,2001-08-27 오전 8:55:24,1
263,4367,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,30016,MDGFASH004,다이어트 반바지,20000,2001-08-27 오전 8:57:57,1
264,4368,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,30017,MDGFASH004,다이어트 반바지,20000,2001-08-27 오전 9:09:44,1
282,4387,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,30105,MDEHRWE011,웨이브 훌라후프 1세트,9900,2001-08-27 오후 4:04:42,1
283,4388,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,30105,MDGFASH004,다이어트 반바지,20000,2001-08-27 오후 4:04:42,1
284,4389,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,30105,MDGLIKE006,매직마스크(★10만고객돌파기념☆),14900,2001-08-27 오후 4:04:42,1
285,4390,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,30105,MDEHRWE008,파워세라믹종아리 다이어트(1년감사세일),19500,2001-08-27 오후 4:04:42,1
293,4398,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,30134,MDGFASH004,다이어트 반바지,40000,2001-08-27 오후 5:37:59,2
489,4278,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29780,MDGFASH004,다이어트 반바지,20000,2001-08-25 오전 11:28:24,1
490,4279,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29781,MDGFASH004,다이어트 반바지,20000,2001-08-25 오전 11:30:14,1
491,4280,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29785,MDGFASH004,다이어트 반바지,20000,2001-08-25 오전 11:45:13,1
492,4281,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29788,MDGFASH004,다이어트 반바지,20000,2001-08-25 오전 11:54:50,1
705,4147,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29247,MDGFASH004,다이어트 반바지,20000,2001-08-23 오전 9:23:54,1
706,4148,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29249,MDGFASH004,다이어트 반바지,20000,2001-08-23 오전 9:33:12,1
721,3704,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25947,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-08-17 오후 1:26:47,1
722,3705,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25947,MDEHRWE011,웨이브 훌라후프 1세트,9900,2001-08-17 오후 1:26:47,1
723,3706,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25947,MDGFASH004,다이어트 반바지,20000,2001-08-17 오후 1:26:47,1
724,3707,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25947,MDEHRWE008,파워세라믹종아리 다이어트(1년감사세일),19500,2001-08-17 오후 1:26:47,1
1475,3242,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25940,MDEHRWE008,파워세라믹종아리 다이어트(1년감사세일),19500,2001-08-09 오후 7:57:57,1
1476,3243,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25940,MDEHRWE011,웨이브 훌라후프 1세트,9900,2001-08-09 오후 7:57:57,1
1477,3244,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,25940,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-08-09 오후 7:57:57,1
1512,4149,youngya624,570524.0,791-758,14.0,2.0,152.0,46.0,1.0,"1, 2",...,"2, 6, 7",3.0,"2, 10",19.0,29253,MDGFASH004,다이어트 반바지,20000,2001-08-25 오전 11:25:12,1
1667,3059,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23768,MDEHRWE008,파워세라믹종아리 다이어트(1년감사세일),19500,2001-07-31 오후 10:16:50,1
1746,2762,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23102,MDEPART007,파워세라믹종아리 다이어트(1년 감사세일),19500,2001-07-26 오후 12:04:18,1
1747,2763,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23102,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-07-26 오후 12:04:18,1
1748,2764,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23102,MDGFASH006,잡플러스 다이어트 스타킹(팬티형),50000,2001-07-26 오후 12:04:18,1
1749,2765,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23102,MDEHRWE011,웨이브 훌라후프 1세트,13000,2001-07-26 오후 12:04:18,1
2652,1335,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,21066,MDGFASH006,잡플러스 다이어트 스타킹(팬티형),50000,2001-06-25 오전 11:38:30,1
2973,389,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,14098,MDEHRWE011,웨이브 훌라후프 1세트,13000,2001-06-05 오후 8:31:38,1
2974,390,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,14098,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-06-05 오후 8:31:38,1
2975,391,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,14098,MDEPART001,매직마스크,24900,2001-06-05 오후 8:31:38,1
2976,392,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,14098,MDGFASH003,다이어트 긴바지,49000,2001-06-05 오후 8:31:38,1
3547,1005,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,20059,MDGLIKE006,매직마스크,24900,2001-06-14 오후 1:53:39,1
3548,1006,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,20059,MDEHRWE011,웨이브 훌라후프 1세트,13000,2001-06-14 오후 1:53:39,1
3549,1007,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,20059,MDGFASH006,잡플러스 다이어트 스타킹(팬티형),50000,2001-06-14 오후 1:53:39,1
3550,1008,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,20059,MDEPART007,파워세라믹종아리 다이어트,29900,2001-06-14 오후 1:53:39,1
3844,1333,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,21066,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-06-25 오전 11:38:30,1
3845,1334,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,21066,MDGLIKE006,매직마스크,24900,2001-06-25 오전 11:38:30,1
3846,1336,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,21066,MDEHRWE011,웨이브 훌라후프 1세트,13000,2001-06-25 오전 11:38:30,1
3996,1509,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23881,MDGLIKE006,매직마스크(★10만고객돌파기념☆),12900,2001-08-01 오후 7:27:09,1
3997,1510,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23881,MDEHRWE008,파워세라믹종아리 다이어트(1년감사세일),19500,2001-08-01 오후 7:27:09,1
3998,1511,ivy0222,830222.0,000-000,15.0,2.0,164.0,60.0,0.0,"1, 2",...,"2, 4, 6",4.0,5,22.0,23881,MDEHRWE011,웨이브 훌라후프 1세트,13000,2001-08-01 오후 7:27:09,1

In [ ]:
df = pd.merge(a,b, on='')

KeyError: ''

In [ ]:
df

Empty DataFrame
Columns: [seq_num, id, social_id1, zip_code, occupation, sex, height, weight, married, dise, want_diet, created, waist, heap, loss_part, diet_purpose, diet, bmi, order_id, pfid, p_name, p_price, p_created, p_quantity]
Index: []

[0 rows x 24 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4458 entries, 0 to 4457
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seq_num       4458 non-null   int64
 1   id            4458 non-null   object
 2   social_id1    4457 non-null   float64
 3   zip_code      4456 non-null   object
 4   occupation    4456 non-null   float64
 5   sex           4456 non-null   float64
 6   height        4456 non-null   float64
 7   weight        4456 non-null   float64
 8   married       4456 non-null   float64
 9   dise          2930 non-null   object
 10  want_diet     4456 non-null   float64
 11  created       4458 non-null   object
 12  waist         3135 non-null   object
 13  heap          1899 non-null   object
 14  loss_part     4206 non-null   object
 15  diet_purpose  4183 non-null   float64
 16  diet          3411 non-null   object
 17  bmi           4456 non-null   float64
 18  order_id      4458 non-null   int64
 19  pfid          4458 non-null   object
 20  p_name        4458 non-null   object
 21  p_price       4458 non-null   int64
 22  p_created     4458 non-null   object
 23  p_quantity    4458 non-null   int64
dtypes: float64(9), int64(4), object(11)
memory usage: 836.0+ KB

In [ ]:
# 결측치 여부 확인하기
df1.isnull().sum()

고객ID                  0
이탈여부                  0
총_매출액                 0
방문빈도                  0
1회_평균매출액              0
할인권_사용 횟수             0
총_할인_금액               0
고객등급                  0
구매유형                  0
클레임접수여부               0
구매_카테고리_수             0
거주지역                  0
성별                    0
고객_나이대                0
거래기간                  0
할인민감여부                0
멤버쉽_프로그램_가입전_만족도      0
멤버쉽_프로그램_가입후_만족도      0
Recency               0
Frequency             0
Monetary              0
상품_만족도                0
매장_만족도                0
서비스_만족도               0
상품_품질                 0
상품_다양성                0
가격_적절성                0
상품_진열_위치             66
상품_설명_표시            138
매장_청결성                0
공간_편의성                0
시야_확보성                0
음향_적절성                0
안내_표지판_설명             0
친절성                   0
신속성                   0
책임성                   0
정확성                   0
전문성                   0
dtype: int64

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4458 entries, 0 to 4457
Data columns (total 27 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   seq_num       4458 non-null   int64
 1   id            4458 non-null   object
 2   social_id1    4457 non-null   float64
 3   zip_code      4456 non-null   object
 4   occupation    4456 non-null   float64
 5   sex           4456 non-null   float64
 6   height        4456 non-null   float64
 7   weight        4456 non-null   float64
 8   married       4456 non-null   float64
 9   dise          2930 non-null   object
 10  want_diet     4456 non-null   float64
 11  created       4458 non-null   object
 12  waist         3135 non-null   object
 13  heap          1899 non-null   object
 14  loss_part     4206 non-null   object
 15  diet_purpose  4183 non-null   float64
 16  diet          3411 non-null   object
 17  bmi           4456 non-null   float64
 18  order_id      4458 non-null   int64
 19  pfid          4458 non-null   object
 20  p_name        4458 non-null   object
 21  p_price       4458 non-null   int64
 22  p_created     4458 non-null   object
 23  p_quantity    4458 non-null   int64
 24  1             4458 non-null   int32
 25  2             4458 non-null   int32
 26  3             4458 non-null   int32
dtypes: float64(9), int32(3), int64(4), object(11)
memory usage: 888.2+ KB

In [100]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [101]:
encoder.fit(df2["loss_part"])

LabelEncoder()

In [102]:
df2["loss_part_2"] = encoder.transform(df2["loss_part"])

In [107]:
len(df2["loss_part"].unique())

296

In [105]:
df2["loss_part_2"]

0         1
1         1
2         1
3         1
4         1
       ...
4453    251
4454    174
4455     17
4456     68
4457    174
Name: loss_part_2, Length: 4458, dtype: int32

In [119]:
df2['result'] = df2['result'] + "," +df2 ['waist']

In [120]:
df2['waist']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
4453    NaN
4454    NaN
4455     29
4456     40
4457     27
Name: waist, Length: 4458, dtype: object

In [121]:
df2

,seq_num,id,social_id1,zip_code,occupation,sex,height,weight,married,dise,...,diet,bmi,order_id,pfid,p_name,p_price,p_created,p_quantity,loss_part_2,result
0,28,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16560,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:10:38,1,1,NaN
1,29,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16926,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 1:26:33,1,1,NaN
2,30,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16941,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:19:23,1,1,NaN
3,31,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16944,MDGLIKE001,"오레그 O다리,X다리 교정벨트(고급형)",27000,2001-05-17 오후 2:27:24,1,1,NaN
4,32,webinner,740101.0,137-070,6.0,1.0,170.0,62.0,0.0,NaN,...,4,21.0,16967,MDGBEAT004,아로마 장미향,20000,2001-05-17 오후 4:25:11,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4453,2011,0162655575,830219.0,135-080,15.0,2.0,165.0,49.0,0.0,NaN,...,NaN,17.0,21654,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-05 오후 7:17:10,1,251,NaN
4454,2012,12girl,781007.0,136-043,17.0,2.0,160.0,63.0,0.0,2,...,NaN,24.0,21656,PDFMEAL014,풀무원 드림다이어트,300000,2001-07-05 오후 8:02:18,1,174,NaN
4455,2013,onlyonelhm,880330.0,327-030,15.0,2.0,159.0,58.0,0.0,NaN,...,NaN,22.0,21664,MDEHRWE008,파워세라믹종아리 다이어트,29900,2001-07-06 오전 1:17:45,1,17,"onlyonelhm,29"
4456,2014,morebest1,760709.0,0000000,12.0,1.0,177.0,109.0,0.0,NaN,...,"1, 4, 5",34.0,21665,MDFMEAL007,대상다이어트프로그램,70000,2001-07-06 오전 1:50:12,1,68,"morebest1,40"
4457,2015,kiya80,770426.0,660-322,12.0,2.0,156.0,49.0,0.0,1,...,4,20.0,21666,PDFMEAL016,깜짝변신 다이어트세트,130000,2001-07-06 오전 2:27:39,1,174,"kiya80,27"

In [122]:
df2['result']

0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
            ...
4453              NaN
4454              NaN
4455    onlyonelhm,29
4456     morebest1,40
4457        kiya80,27
Name: result, Length: 4458, dtype: object

In [123]:
for i in df.columns:
    df2['result'] =+ df2[i]

TypeError: can only concatenate str (not "int") to str