In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/따릉이/train.csv")

In [4]:
df.isnull().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [5]:
for i in df.columns:
    print(i)
    a= df[i].dropna().mean()
    df[i].fillna(a, inplace=True)

id
hour
hour_bef_temperature
hour_bef_precipitation
hour_bef_windspeed
hour_bef_humidity
hour_bef_visibility
hour_bef_ozone
hour_bef_pm10
hour_bef_pm2.5
count

In [6]:
df.isnull().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [9]:
df = df.sort_values("hour",ascending=False)
df

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
1036,1557,23,9.5,0.0,2.9,37.0,2000.0,0.036,56.0,15.0,58.0
924,1403,23,14.0,0.0,1.6,33.0,881.0,0.059,86.0,77.0,91.0
487,751,23,13.3,0.0,1.8,44.0,1650.0,0.043,67.0,34.0,100.0
481,742,23,12.1,0.0,3.5,76.0,450.0,0.007,74.0,57.0,11.0
1219,1838,23,14.1,0.0,3.1,68.0,475.0,0.032,86.0,52.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...
642,984,0,14.9,0.0,2.4,35.0,2000.0,0.034,55.0,20.0,68.0
1355,2038,0,10.5,0.0,3.4,59.0,1990.0,0.044,46.0,23.0,58.0
862,1307,0,19.1,0.0,1.4,61.0,2000.0,0.016,28.0,17.0,94.0
259,403,0,19.5,0.0,2.4,55.0,2000.0,0.003,34.0,22.0,98.0
149,223,0,18.6,0.0,0.3,58.0,554.0,0.053,110.0,63.0,104.0

In [11]:
a= df.groupby("hour")["count"].sum()
a = pd.DataFrame(a)
a

        count
hour
0      4306.0
1      2904.0
2      1916.0
3      1304.0
4       825.0
5       800.0
6      1498.0
7      3804.0
8      8338.0
9      5706.0
10     4807.0
11     5388.0
12     6826.0
13     7203.0
14     8210.0
15     9331.0
16    10146.0
17    11228.0
18    15992.0
19    12298.0
20    10057.0
21    10129.0
22     9043.0
23     6335.0

In [12]:
feature = df.drop("count",axis=1)
target = df["count"]

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train , X_test, y_train, y_test = train_test_split(feature, target, test_size=0.2, random_state=0)

In [16]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
rf.fit(X_train, y_train)
pre = rf.predict(X_test)d

NameError: name 'prt' is not defined

In [17]:
pre

array([ 40., 133.,  58., 268., 268., 114., 267.,  15.,  41., 127., 149.,
         5.,  51., 337.,  13., 213., 169., 369.,   6.,  19.,  24., 191.,
       114.,  17.,  94.,  75.,  88., 282., 104.,  93.,  60.,  87.,  51.,
         2.,  11., 153., 138., 100., 188.,  14., 145.,  96., 105., 113.,
        15., 166.,  22.,  49.,   1., 122.,  38.,   6.,  24.,  15.,  92.,
       115.,  47.,  69.,  14., 205.,  87.,  62., 166., 118.,  26.,  12.,
       165., 302., 247.,  20., 153.,  26.,  16.,  19.,  87.,  22.,  15.,
       125.,  82.,  17.,  43., 134., 188., 205., 127.,  86., 180.,  41.,
       204.,  16.,  23.,  88.,  73., 246., 121., 266., 129.,  70.,  16.,
        31., 122.,  39., 111.,  15., 127., 221.,  12., 143., 111., 205.,
        45., 146., 183.,  13., 168.,  77.,  16., 122.,  26., 304.,  15.,
       241.,   2., 124., 246.,  74.,  30.,  23.,  93., 137.,  41., 303.,
        30.,  64.,  81.,  13., 103.,   3., 192., 332.,  71.,   8.,  60.,
       111., 100., 136., 183.,  79.,  60., 129.,  53.,  12., 222.,  34.,
        62.,   8.,  64., 124.,  93.,   9., 217., 121., 402., 206., 317.,
        14., 124.,  92., 115., 122., 113.,  18.,  79., 120., 272., 104.,
       108., 149.,   9., 268.,  62., 143., 140.,  14., 213.,  82.,  23.,
       113.,  82., 202.,  99.,  82., 199., 276., 366., 293.,  36.,  12.,
       114.,  70.,  26., 205., 188.,  77., 125.,  29.,   9., 151., 155.,
        74.,  37., 118., 192.,  20.,  16.,  64., 183., 274.,  28.,  66.,
       261., 121.,   8.,  80., 131., 281.,  49., 124., 208., 100.,  20.,
        26.,  36.,  94., 246., 133.,  93., 175.,   1.,  27., 114., 104.,
        72.,  57.,  79., 104., 120.,  21., 215., 122., 114.,  86., 151.,
        91.,  62., 241.,  99.,  82.,  91., 203.,  17., 141.,  94., 124.,
        10.,  60., 194.,   8.,  46., 195., 106., 192., 139.,  55.,  11.,
        44., 169., 111.,  36.,  38.,  72.,  13., 138.,   2.,  97., 188.,
       320., 137.,  18.,  75., 121.,  23.])

In [18]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, mean_squared_error

In [19]:
from sklearn.linear_model import LogisticRegression, LinearRegression

In [20]:
lr = LinearRegression()
lr.fit(X_train, y_train)
pre = lr.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_squared_error(pre, y_test)

3150.7986837760077

1. train.csv / test.csv\
id 고유 id\
hour 시간\
temperature 기온\
precipitation 비가 오지 않았으면 0, 비가 오면 1\
windspeed 풍속(평균)\
humidity 습도\
visibility 시정(視程), 시계(視界)(특정 기상 상태에 따른 가시성을 의미)\
ozone 오존\
pm10 미세먼지(머리카락 굵기의 1/5에서 1/7 크기의 미세먼지)\
pm2.5 미세먼지(머리카락 굵기의 1/20에서 1/30 크기의 미세먼지)\
count 시간에 따른 따릉이 대여 수

### 1-1. hour 기준으로 오름차순 정리
### 1-2. hour 마다의 count의 합 출력하기
### 2-1 각 컬럼의 결측치의 갯수를 출력하기
### 2-2 컬럼에서의 결측치를 그 컬럼의 평균값으로 채우기(가능하면 for 문 사용 안하셔도 상관없습니다.)
### 3-1 target은 count로 feature와 target 분리하기
### 3-2 train 0.8 test 0.2로 분리하기
### 3-3 회귀분석으로 mse 값 화인하기