In [2]:
import pandas as pd
import numpy as np
import FinanceDataReader as fdr

In [4]:
sm = fdr.DataReader("005930","2010","2020")
sm

             Open   High    Low  Close    Volume    Change
Date
2010-01-04  16060  16180  16000  16180    239271  0.012516
2010-01-05  16520  16580  16300  16440    559219  0.016069
2010-01-06  16580  16820  16520  16820    459755  0.023114
2010-01-07  16820  16820  16260  16260    443237 -0.033294
2010-01-08  16400  16420  16120  16420    295798  0.009840
...           ...    ...    ...    ...       ...       ...
2019-12-23  56100  56400  55100  55500   9839252 -0.008929
2019-12-24  55600  55700  54800  55000  11868463 -0.009009
2019-12-26  54700  55400  54400  55400   9645034  0.007273
2019-12-27  55700  56900  55500  56500  12313056  0.019856
2019-12-30  56200  56600  55700  55800   8356767 -0.012389

[2466 rows x 6 columns]

### shift, diff, pct_change, rolling, resample

#### shift