In [235]:
import pandas as pd
import numpy as np

### concat, merge

In [236]:
# ECOS에서 데이터 수익성지표와 성장성 지표를 활용한 data결합
df_1 = pd.read_csv("./data/성장성 지표.csv")
df_2 = pd.read_csv("./data/수익성 지표.csv")
df_3 = pd.read_csv("./data/기업경기실사지수.csv")

In [237]:
df_1

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,2021/Q3,2021/Q2,2021/Q1,2020/Q4,2020/Q3,2020/Q2,2020/Q1,2019/Q4,2019/Q3
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,3.05,1.40,3.29,NaN,1.87,1.10,1.52,NaN,1.12
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,15.44,18.65,7.37,NaN,-3.17,-10.11,-1.86,NaN,-2.79
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,2.86,0.79,3.19,NaN,1.72,0.78,1.16,NaN,0.85
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,16.74,20.22,7.09,NaN,-3.60,-11.34,-1.87,NaN,-3.34
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,3.70,3.50,3.76,NaN,2.52,2.49,3.12,NaN,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",종합,매출액증가율,%,원자료,24.72,23.36,18.65,NaN,26.07,33.88,-6.60,NaN,-23.38,-27.84,-11.79,NaN,13.24
122,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [238]:
df_2

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,2021/Q3,2021/Q2,2021/Q1,2020/Q4,2020/Q3,2020/Q2,2020/Q1,2019/Q4,2019/Q3
0,5.2.2. 수익성 지표,전산업,종합,총자산세전순이익률,%,원자료,4.46,6.65,6.77,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.2. 수익성 지표,전산업,종합,매출액세전순이익률,%,원자료,4.96,7.24,8.10,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.2. 수익성 지표,전산업,종합,매출액영업이익률,%,원자료,4.82,7.13,6.31,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.2. 수익성 지표,전산업,종합,금융비용대매출액,%,원자료,0.99,0.91,0.87,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.2. 수익성 지표,전산업,종합,차입금평균이자율,%,원자료,3.55,3.42,3.06,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액세전순이익률,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액영업이익률,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,금융비용대매출액,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,차입금평균이자율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,이자보상비율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
df_3

,통계표,업종코드,BSI코드,단위,변환,2023/05,2023/04,2023/03,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,6.1.1.1. 기업경기실사지수(실적),전 산 업,업황실적1),NaN,원자료,76.0,72.0,72.0,69.0,69.0,74.0,75.0,76.0,78.0,81.0,80.0,82.0,86.0
1,6.1.1.1. 기업경기실사지수(실적),전 산 업,업황실적(S.A),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.1.1.1. 기업경기실사지수(실적),전 산 업,매출실적2),NaN,원자료,83.0,81.0,80.0,78.0,80.0,87.0,90.0,90.0,95.0,97.0,95.0,96.0,101.0
3,6.1.1.1. 기업경기실사지수(실적),전 산 업,수출실적2),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.1.1.1. 기업경기실사지수(실적),전 산 업,내수판매실적2),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,6.1.1.1. 기업경기실사지수(실적),서비스업,채산성실적6),NaN,원자료,86.0,80.0,81.0,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
156,6.1.1.1. 기업경기실사지수(실적),서비스업,원자재구입가격실적4),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,6.1.1.1. 기업경기실사지수(실적),서비스업,제품판매가격실적4),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,6.1.1.1. 기업경기실사지수(실적),서비스업,자금사정실적6),NaN,원자료,86.0,82.0,85.0,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
159,6.1.1.1. 기업경기실사지수(실적),서비스업,인력사정실적3),NaN,원자료,82.0,82.0,80.0,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [240]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      126 non-null    object
 1   업종코드     126 non-null    object
 2   규모선택     126 non-null    object
 3   지표선택     126 non-null    object
 4   단위       126 non-null    object
 5   변환       126 non-null    object
 6   2022/Q3  54 non-null     float64
 7   2022/Q2  54 non-null     float64
 8   2022/Q1  54 non-null     float64
 9   2021/Q4  0 non-null      float64
 10  2021/Q3  54 non-null     float64
 11  2021/Q2  54 non-null     float64
 12  2021/Q1  54 non-null     float64
 13  2020/Q4  0 non-null      float64
 14  2020/Q3  54 non-null     float64
 15  2020/Q2  54 non-null     float64
 16  2020/Q1  54 non-null     float64
 17  2019/Q4  0 non-null      float64
 18  2019/Q3  54 non-null     float64
dtypes: float64(13), object(6)
memory usage: 18.8+ KB

In [241]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 19 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      378 non-null    object
 1   업종코드     378 non-null    object
 2   규모선택     378 non-null    object
 3   지표선택     378 non-null    object
 4   단위       378 non-null    object
 5   변환       378 non-null    object
 6   2022/Q3  162 non-null    object
 7   2022/Q2  162 non-null    object
 8   2022/Q1  162 non-null    object
 9   2021/Q4  0 non-null      float64
 10  2021/Q3  162 non-null    object
 11  2021/Q2  162 non-null    object
 12  2021/Q1  162 non-null    object
 13  2020/Q4  0 non-null      float64
 14  2020/Q3  162 non-null    object
 15  2020/Q2  162 non-null    float64
 16  2020/Q1  162 non-null    object
 17  2019/Q4  0 non-null      float64
 18  2019/Q3  162 non-null    float64
dtypes: float64(5), object(14)
memory usage: 56.2+ KB

In [242]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      160 non-null    object
 1   업종코드     160 non-null    object
 2   BSI코드    160 non-null    object
 3   단위       0 non-null      float64
 4   변환       160 non-null    object
 5   2023/05  122 non-null    float64
 6   2023/04  122 non-null    float64
 7   2023/03  122 non-null    float64
 8   2023/02  122 non-null    float64
 9   2023/01  122 non-null    float64
 10  2022/12  122 non-null    float64
 11  2022/11  122 non-null    float64
 12  2022/10  122 non-null    float64
 13  2022/09  122 non-null    float64
 14  2022/08  122 non-null    float64
 15  2022/07  122 non-null    float64
 16  2022/06  122 non-null    float64
 17  2022/05  122 non-null    float64
dtypes: float64(14), object(4)
memory usage: 22.6+ KB

# 1. concat
### 1) 컬럼명이 일치하는 데이터인 경우

In [243]:
# 데이터를 합할 때 가장중요한 것은 데이터프레임의 개수의 변화를 늘 체크할 것!
# 126+378 = 504
# concat을 그대로하면 컬럼 기준으로 그대로 붙혀짐
pd.concat([df_1,df_2])

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,2021/Q3,2021/Q2,2021/Q1,2020/Q4,2020/Q3,2020/Q2,2020/Q1,2019/Q4,2019/Q3
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,3.05,1.4,3.29,NaN,1.87,1.10,1.52,NaN,1.12
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,15.44,18.65,7.37,NaN,-3.17,-10.11,-1.86,NaN,-2.79
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,2.86,0.79,3.19,NaN,1.72,0.78,1.16,NaN,0.85
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.0,23.02,20.15,NaN,16.74,20.22,7.09,NaN,-3.6,-11.34,-1.87,NaN,-3.34
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,3.7,3.5,3.76,NaN,2.52,2.49,3.12,NaN,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액세전순이익률,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액영업이익률,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,금융비용대매출액,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,차입금평균이자율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,이자보상비율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
# 인덱스 기준으로 붙혀짐
pd.concat([df_1,df_2],axis=1)

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2021/Q4,2021/Q3,2021/Q2,2021/Q1,2020/Q4,2020/Q3,2020/Q2,2020/Q1,2019/Q4,2019/Q3
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [245]:
# df_2가 먼저오는 경우 
# 빈 값은 다 NaN으로 붙혀짐 
a = pd.concat([df_2,df_1],axis=1)
a

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2021/Q4,2021/Q3,2021/Q2,2021/Q1,2020/Q4,2020/Q3,2020/Q2,2020/Q1,2019/Q4,2019/Q3
0,5.2.2. 수익성 지표,전산업,종합,총자산세전순이익률,%,원자료,4.46,6.65,6.77,NaN,...,NaN,3.05,1.40,3.29,NaN,1.87,1.10,1.52,NaN,1.12
1,5.2.2. 수익성 지표,전산업,종합,매출액세전순이익률,%,원자료,4.96,7.24,8.10,NaN,...,NaN,15.44,18.65,7.37,NaN,-3.17,-10.11,-1.86,NaN,-2.79
2,5.2.2. 수익성 지표,전산업,종합,매출액영업이익률,%,원자료,4.82,7.13,6.31,NaN,...,NaN,2.86,0.79,3.19,NaN,1.72,0.78,1.16,NaN,0.85
3,5.2.2. 수익성 지표,전산업,종합,금융비용대매출액,%,원자료,0.99,0.91,0.87,NaN,...,NaN,16.74,20.22,7.09,NaN,-3.60,-11.34,-1.87,NaN,-3.34
4,5.2.2. 수익성 지표,전산업,종합,차입금평균이자율,%,원자료,3.55,3.42,3.06,NaN,...,NaN,3.70,3.50,3.76,NaN,2.52,2.49,3.12,NaN,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액세전순이익률,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액영업이익률,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,금융비용대매출액,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,차입금평균이자율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,5.2.2. 수익성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,이자보상비율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [246]:
a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 378 entries, 0 to 377
Data columns (total 38 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      378 non-null    object
 1   업종코드     378 non-null    object
 2   규모선택     378 non-null    object
 3   지표선택     378 non-null    object
 4   단위       378 non-null    object
 5   변환       378 non-null    object
 6   2022/Q3  162 non-null    object
 7   2022/Q2  162 non-null    object
 8   2022/Q1  162 non-null    object
 9   2021/Q4  0 non-null      float64
 10  2021/Q3  162 non-null    object
 11  2021/Q2  162 non-null    object
 12  2021/Q1  162 non-null    object
 13  2020/Q4  0 non-null      float64
 14  2020/Q3  162 non-null    object
 15  2020/Q2  162 non-null    float64
 16  2020/Q1  162 non-null    object
 17  2019/Q4  0 non-null      float64
 18  2019/Q3  162 non-null    float64
 19  통계표      126 non-null    object
 20  업종코드     126 non-null    object
 21  규모선택     126 non-null    object
 22  지표선택     126 non-null    object
 23  단위       126 non-null    object
 24  변환       126 non-null    object
 25  2022/Q3  54 non-null     float64
 26  2022/Q2  54 non-null     float64
 27  2022/Q1  54 non-null     float64
 28  2021/Q4  0 non-null      float64
 29  2021/Q3  54 non-null     float64
 30  2021/Q2  54 non-null     float64
 31  2021/Q1  54 non-null     float64
 32  2020/Q4  0 non-null      float64
 33  2020/Q3  54 non-null     float64
 34  2020/Q2  54 non-null     float64
 35  2020/Q1  54 non-null     float64
 36  2019/Q4  0 non-null      float64
 37  2019/Q3  54 non-null     float64
dtypes: float64(18), object(20)
memory usage: 115.2+ KB

### 2) 컬럼명이 다른 경우

In [247]:
b = pd.concat([df_1,df_3])
b

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,6.1.1.1. 기업경기실사지수(실적),서비스업,NaN,NaN,NaN,원자료,NaN,NaN,NaN,NaN,...,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
156,6.1.1.1. 기업경기실사지수(실적),서비스업,NaN,NaN,NaN,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,6.1.1.1. 기업경기실사지수(실적),서비스업,NaN,NaN,NaN,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,6.1.1.1. 기업경기실사지수(실적),서비스업,NaN,NaN,NaN,원자료,NaN,NaN,NaN,NaN,...,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
159,6.1.1.1. 기업경기실사지수(실적),서비스업,NaN,NaN,NaN,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [248]:
b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 286 entries, 0 to 159
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      286 non-null    object
 1   업종코드     286 non-null    object
 2   규모선택     126 non-null    object
 3   지표선택     126 non-null    object
 4   단위       126 non-null    object
 5   변환       286 non-null    object
 6   2022/Q3  54 non-null     float64
 7   2022/Q2  54 non-null     float64
 8   2022/Q1  54 non-null     float64
 9   2021/Q4  0 non-null      float64
 10  2021/Q3  54 non-null     float64
 11  2021/Q2  54 non-null     float64
 12  2021/Q1  54 non-null     float64
 13  2020/Q4  0 non-null      float64
 14  2020/Q3  54 non-null     float64
 15  2020/Q2  54 non-null     float64
 16  2020/Q1  54 non-null     float64
 17  2019/Q4  0 non-null      float64
 18  2019/Q3  54 non-null     float64
 19  BSI코드    160 non-null    object
 20  2023/05  122 non-null    float64
 21  2023/04  122 non-null    float64
 22  2023/03  122 non-null    float64
 23  2023/02  122 non-null    float64
 24  2023/01  122 non-null    float64
 25  2022/12  122 non-null    float64
 26  2022/11  122 non-null    float64
 27  2022/10  122 non-null    float64
 28  2022/09  122 non-null    float64
 29  2022/08  122 non-null    float64
 30  2022/07  122 non-null    float64
 31  2022/06  122 non-null    float64
 32  2022/05  122 non-null    float64
dtypes: float64(26), object(7)
memory usage: 76.0+ KB

In [249]:
c = pd.concat([df_1,df_3],axis=1)
c

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,69.0,69.0,74.0,75.0,76.0,78.0,81.0,80.0,82.0,86.0
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,78.0,80.0,87.0,90.0,90.0,95.0,97.0,95.0,96.0,101.0
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [250]:
c.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 160 entries, 0 to 159
Data columns (total 37 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      126 non-null    object
 1   업종코드     126 non-null    object
 2   규모선택     126 non-null    object
 3   지표선택     126 non-null    object
 4   단위       126 non-null    object
 5   변환       126 non-null    object
 6   2022/Q3  54 non-null     float64
 7   2022/Q2  54 non-null     float64
 8   2022/Q1  54 non-null     float64
 9   2021/Q4  0 non-null      float64
 10  2021/Q3  54 non-null     float64
 11  2021/Q2  54 non-null     float64
 12  2021/Q1  54 non-null     float64
 13  2020/Q4  0 non-null      float64
 14  2020/Q3  54 non-null     float64
 15  2020/Q2  54 non-null     float64
 16  2020/Q1  54 non-null     float64
 17  2019/Q4  0 non-null      float64
 18  2019/Q3  54 non-null     float64
 19  통계표      160 non-null    object
 20  업종코드     160 non-null    object
 21  BSI코드    160 non-null    object
 22  단위       0 non-null      float64
 23  변환       160 non-null    object
 24  2023/05  122 non-null    float64
 25  2023/04  122 non-null    float64
 26  2023/03  122 non-null    float64
 27  2023/02  122 non-null    float64
 28  2023/01  122 non-null    float64
 29  2022/12  122 non-null    float64
 30  2022/11  122 non-null    float64
 31  2022/10  122 non-null    float64
 32  2022/09  122 non-null    float64
 33  2022/08  122 non-null    float64
 34  2022/07  122 non-null    float64
 35  2022/06  122 non-null    float64
 36  2022/05  122 non-null    float64
dtypes: float64(27), object(10)
memory usage: 47.5+ KB

# 2. merge

In [251]:
pd.merge(df_1, df_2,how='left', on="통계표")

,통계표,업종코드_x,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",종합,매출액증가율,%,원자료,24.72,23.36,18.65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [252]:
pd.merge(df_1, df_2,how='right', on="통계표")

,통계표,업종코드_x,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
pd.merge(df_1, df_2,how='outer', on="통계표")

,통계표,업종코드_x,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
500,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
501,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,5.2.2. 수익성 지표,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [254]:
pd.merge(df_1, df_2,how='inner', on="통계표")

Empty DataFrame
Columns: [통계표, 업종코드_x, 규모선택_x, 지표선택_x, 단위_x, 변환_x, 2022/Q3_x, 2022/Q2_x, 2022/Q1_x, 2021/Q4_x, 2021/Q3_x, 2021/Q2_x, 2021/Q1_x, 2020/Q4_x, 2020/Q3_x, 2020/Q2_x, 2020/Q1_x, 2019/Q4_x, 2019/Q3_x, 업종코드_y, 규모선택_y, 지표선택_y, 단위_y, 변환_y, 2022/Q3_y, 2022/Q2_y, 2022/Q1_y, 2021/Q4_y, 2021/Q3_y, 2021/Q2_y, 2021/Q1_y, 2020/Q4_y, 2020/Q3_y, 2020/Q2_y, 2020/Q1_y, 2019/Q4_y, 2019/Q3_y]
Index: []

[0 rows x 37 columns]

In [255]:
pd.merge(df_1, df_2,how='left', on="업종코드")

,통계표_x,업종코드,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2264,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2266,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
pd.merge(df_1, df_2,how='right', on="업종코드")

,통계표_x,업종코드,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",종합,매출액증가율,%,원자료,24.72,23.36,18.65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2264,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2266,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
pd.merge(df_1, df_2,how='outer', on="업종코드")

,통계표_x,업종코드,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2264,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2266,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
pd.merge(df_1, df_2,how='inner', on="업종코드")

,통계표_x,업종코드,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2264,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2265,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2266,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [259]:
pd.merge(df_1, df_2,how='inner', on=["업종코드","통계표"])

Empty DataFrame
Columns: [통계표, 업종코드, 규모선택_x, 지표선택_x, 단위_x, 변환_x, 2022/Q3_x, 2022/Q2_x, 2022/Q1_x, 2021/Q4_x, 2021/Q3_x, 2021/Q2_x, 2021/Q1_x, 2020/Q4_x, 2020/Q3_x, 2020/Q2_x, 2020/Q1_x, 2019/Q4_x, 2019/Q3_x, 규모선택_y, 지표선택_y, 단위_y, 변환_y, 2022/Q3_y, 2022/Q2_y, 2022/Q1_y, 2021/Q4_y, 2021/Q3_y, 2021/Q2_y, 2021/Q1_y, 2020/Q4_y, 2020/Q3_y, 2020/Q2_y, 2020/Q1_y, 2019/Q4_y, 2019/Q3_y]
Index: []

[0 rows x 36 columns]

In [260]:
pd.merge(df_1, df_2,how='left', on=["업종코드","통계표"])

,통계표,업종코드,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",종합,매출액증가율,%,원자료,24.72,23.36,18.65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [261]:
pd.merge(df_1, df_2,how='left', on=["업종코드","규모선택"])

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [262]:
pd.merge(df_1, df_2,how='right', on=["업종코드","규모선택"])

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
3,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
pd.merge(df_1, df_2,how='outer', on=["업종코드","규모선택"])

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [264]:
pd.merge(df_1, df_2,how='inner', on=["업종코드","규모선택"])

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [265]:
pd.merge(df_1, df_2,how='inner', on=["업종코드","규모선택"])

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,2022/Q2_x,2022/Q1_x,2021/Q4_x,...,2021/Q4_y,2021/Q3_y,2021/Q2_y,2021/Q1_y,2020/Q4_y,2020/Q3_y,2020/Q2_y,2020/Q1_y,2019/Q4_y,2019/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,6.76,6.48,6.20,NaN,4.31,3.78,3.68,NaN,3.99
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,8.40,8.19,7.91,NaN,5.58,5.19,4.84,NaN,4.87
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,7.51,7.37,6.43,NaN,6.00,5.31,4.14,NaN,4.76
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,0.94,0.94,0.95,NaN,1.15,1.19,1.10,NaN,1.11
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,3.13,2.99,3.04,NaN,3.51,3.40,3.32,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
753,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
755,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
df_1.columns

Index(['통계표', '업종코드', '규모선택', '지표선택', '단위', '변환', '2022/Q3', '2022/Q2',
       '2022/Q1', '2021/Q4', '2021/Q3', '2021/Q2', '2021/Q1', '2020/Q4',
       '2020/Q3', '2020/Q2', '2020/Q1', '2019/Q4', '2019/Q3'],
      dtype='object')

In [267]:
df_1["지표선택"].unique()

array(['총자산증가율', '매출액증가율'], dtype=object)

In [268]:
df_2["지표선택"].unique()

array(['총자산세전순이익률', '매출액세전순이익률', '매출액영업이익률', '금융비용대매출액', '차입금평균이자율',
       '이자보상비율'], dtype=object)

In [269]:
df_1["통계표"].unique()

array(['5.2.1. 성장성 지표'], dtype=object)

In [270]:
df_2["통계표"].unique()

array(['5.2.2. 수익성 지표'], dtype=object)

In [271]:
df_1["단위"].unique()

array(['% '], dtype=object)

In [272]:
df_2["단위"].unique()

array(['% '], dtype=object)

In [273]:
df_1.value_counts()

Series([], dtype: int64)

파이썬에서 Set(집합)은 중복되지 않는 요소들로 구성된 변경 가능한 자료형입니다.\
Set은 중괄호 {}를 사용하여 생성하며, 각 요소는 쉼표로 구분됩니다. Set은 순서가 없기 때문에 인덱스를 사용하여 요소에 접근할 수 없습니다.

Set은 다음과 같은 특징을 가지고 있습니다:

중복된 요소를 허용하지 않습니다: Set은 중복된 값을 허용하지 않습니다. \즉, Set에는 동일한 값을 여러 번 포함할 수 없습니다. 중복된 값을 제거하고 고유한 요소들만 남기는 용도로 자주 사용됩니다.

요소들의 순서가 없습니다: Set은 요소들이 순서 없이 저장됩니다.\ 따라서 인덱스를 사용하여 특정 요소에 직접 접근할 수 없습니다. 순서가 중요하지 않고 고유한 요소들의 집합을 다룰 때 유용합니다.

Set은 다양한 연산을 지원합니다. 일반적인 Set 연산에는 교집합, 합집합, 차집합, 대칭 차집합 등이 있습니다. \
예를 들어, 두 개의 Set A와 B가 있다고 가정하면 다음과 같은 연산을 수행할 수 있습니다:

교집합: A.intersection(B) 또는 A & B를 사용하여 두 Set의 교집합을 구할 수 있습니다.\
합집합: A.union(B) 또는 A | B를 사용하여 두 Set의 합집합을 구할 수 있습니다.\
차집합: A.difference(B) 또는 A - B를 사용하여 첫 번째 Set에서 두 번째 Set을 제외한 차집합을 구할 수 있습니다.\
대칭 차집합: A.symmetric_difference(B) 또는 A ^ B를 사용하여 두 Set의 대칭 차집합을 구할 수 있습니다.\
Set은 추가, 삭제, 갱신 등의 연산도 지원합니다.\ 예를 들어, 요소를 Set에 추가하려면 add() 메서드를 사용하고, 요소를 제거하려면 remove() 메서드를 사용합니다.

In [274]:
# 리스트에서 2가지 값중 공통된 값찾기
def find_common_elements(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return list(set1.intersection(set2))

In [275]:
set(df_1["2019/Q3"])

{nan,
 1.08,
 1.12,
 1.26,
 1.37,
 1.8,
 2.33,
 2.71,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 3.5,
 7.45,
 13.24,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -3.34,
 -0.27,
 0.22,
 0.79,
 1.86,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -1.49,
 0.18,
 0.41,
 2.01,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -0.4,
 0.14,
 0.57,
 0.65,
 0.82,
 0.85,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -3.76,
 -3.23,
 -1.98,
 -1.26,
 -0.48,
 0.7,
 1.27,
 3.16,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.81,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 -8.7,
 -7.66,
 -6.52,
 -5.19,
 -4.93,
 -4.76,
 -3.73,
 -2.79,
 -2.55,
 -1.4,
 -0.22,
 0.48,
 0.53,
 1.19,
 1.3,
 1.85,
 2.19,
 2.23,
 3.32,
 5.74}

In [276]:
find_common_elements(df_1["2019/Q3"],df_2["2019/Q3"])

[0.85, 2.19]

In [277]:
find_common_elements(df_1["2019/Q4"],df_2["2019/Q4"])

[]

In [278]:
df_1.columns

Index(['통계표', '업종코드', '규모선택', '지표선택', '단위', '변환', '2022/Q3', '2022/Q2',
       '2022/Q1', '2021/Q4', '2021/Q3', '2021/Q2', '2021/Q1', '2020/Q4',
       '2020/Q3', '2020/Q2', '2020/Q1', '2019/Q4', '2019/Q3'],
      dtype='object')

In [279]:
df_1_1 = df_1[['통계표', '업종코드', '규모선택', '지표선택', '단위', '변환', '2022/Q3']]
df_2_1 = df_2[['통계표', '업종코드', '규모선택', '지표선택', '단위', '변환', '2022/Q3']]

In [280]:
pd.merge(df_1_1, df_2_1,how='inner', on=["업종코드"])

,통계표_x,업종코드,규모선택_x,지표선택_x,단위_x,변환_x,2022/Q3_x,통계표_y,규모선택_y,지표선택_y,단위_y,변환_y,2022/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,종합,총자산세전순이익률,%,원자료,4.46
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,종합,매출액세전순이익률,%,원자료,4.96
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,종합,매출액영업이익률,%,원자료,4.82
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,종합,금융비용대매출액,%,원자료,0.99
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,종합,차입금평균이자율,%,원자료,3.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2263,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,중소기업,매출액세전순이익률,%,원자료,NaN
2264,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,중소기업,매출액영업이익률,%,원자료,NaN
2265,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,중소기업,금융비용대매출액,%,원자료,NaN
2266,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,중소기업,차입금평균이자율,%,원자료,NaN
2267,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,중소기업,이자보상비율,%,원자료,NaN

In [281]:
b = pd.merge(df_1_1, df_2_1,how='inner', on=["업종코드","규모선택"])
b

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,통계표_y,지표선택_y,단위_y,변환_y,2022/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,총자산세전순이익률,%,원자료,4.46
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,매출액세전순이익률,%,원자료,4.96
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,매출액영업이익률,%,원자료,4.82
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,금융비용대매출액,%,원자료,0.99
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,차입금평균이자율,%,원자료,3.55
...,...,...,...,...,...,...,...,...,...,...,...,...
751,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,매출액세전순이익률,%,원자료,NaN
752,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,매출액영업이익률,%,원자료,NaN
753,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,금융비용대매출액,%,원자료,NaN
754,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,차입금평균이자율,%,원자료,NaN
755,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,이자보상비율,%,원자료,NaN

In [282]:
b["2022/Q3_x"].unique()

array([ 2.76, 17.52,  2.72, 19.  ,  2.95, 10.96,  2.38, 18.17,  2.25,
       19.07,  3.02, 13.31,  5.37, 14.95,   nan,  3.62, 24.65,  2.23,
       13.54,  0.82, 35.64,  1.18, 16.63,  0.55,  9.03,  3.31,  7.19,
        2.97, 22.43,  3.08,  5.71,  3.27, 16.68,  3.37, 18.89,  2.88,
        8.76,  6.51, 47.63,  2.6 ,  9.98,  2.7 , 14.11,  2.66, 12.66,
        5.08, 25.81, 32.2 ,  1.1 ,  2.82,  2.44, 14.96,  2.13, 24.72])

In [283]:
b["2022/Q3_y"].unique()

array(['4.46', '4.96', '4.82', '0.99', '3.55', '487.11', '4.36', '4.83',
       '4.70', '0.92', '3.48', '510.68', '4.94', '5.62', '5.42', '1.32',
       '3.82', '408.98', '5.59', '6.18', '5.44', '0.74', '3.34', '730.65',
       '5.52', '6.03', '5.58', '0.65', '3.21', '864.12', '5.95', '7.03',
       '4.64', '1.30', '3.76', '356.63', '6.37', '6.07', '6.70', '0.78',
       '3.20', '855.40', nan, '6.96', '6.92', '7.44', '0.94', '3.38',
       '787.84', '3.81', '4.07', '5.11', '1.04', '3.40', '493.58', '5.29',
       '4.79', '4.44', '3.26', '600.01', '2.89', '4.39', '1.09', '2.69',
       '514.08', '2.86', '3.51', '4.50', '0.86', '3.37', '521.15', '8.21',
       '10.40', '8.66', '3.39', '1,329.86', '2.68', '2.97', '1.27',
       '171.21', '5.03', '4.60', '4.72', '3.07', '725.14', '2.99', '3.35',
       '4.01', '3.73', '304.67', '2.78', '3.13', '3.46', '1.31', '3.69',
       '264.20', '3.86', '4.23', '1.35', '3.88', '458.51', '-12.49',
       '-18.19', '-16.65', '2.33', '3.06', '-714.51', '4.47', '5.69',
       '6.71', '3.87', '514.01', '6.20', '6.42', '6.86', '1.15', '3.98',
       '595.35', '4.17', '2.92', '3.50', '0.57', '609.36', '11.65',
       '13.17', '14.97', '2.34', '640.07', '1.19', '1.96', '3.79', '4.22',
       '162.52', '6.08', '11.07', '9.94', '1.46', '3.91', '680.52',
       '7.58', '7.33', '5.81', '0.85', '4.13', '686.90', '5.46', '24.29',
       '27.50', '5.68', '4.08', '483.82'], dtype=object)

In [284]:
pd.merge(df_1_1, df_2_1,how='inner', on=["업종코드","규모선택","2022/Q3"])

ValueError: You are trying to merge on float64 and object columns. If you wish to proceed you should use pd.concat

In [285]:
df_1_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      126 non-null    object
 1   업종코드     126 non-null    object
 2   규모선택     126 non-null    object
 3   지표선택     126 non-null    object
 4   단위       126 non-null    object
 5   변환       126 non-null    object
 6   2022/Q3  54 non-null     float64
dtypes: float64(1), object(6)
memory usage: 7.0+ KB

In [286]:
df_2_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   통계표      378 non-null    object
 1   업종코드     378 non-null    object
 2   규모선택     378 non-null    object
 3   지표선택     378 non-null    object
 4   단위       378 non-null    object
 5   변환       378 non-null    object
 6   2022/Q3  162 non-null    object
dtypes: object(7)
memory usage: 20.8+ KB

In [287]:
df_2_1["2022/Q3"].astype(float)

ValueError: could not convert string to float: '1,329.86'

In [288]:
df_2_1["2022/Q3"] = df_2_1["2022/Q3"].str.replace("," ,"")

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_25528\4033089471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2_1["2022/Q3"] = df_2_1["2022/Q3"].str.replace("," ,"")

In [289]:
df_2_1["2022/Q3"] = df_2_1["2022/Q3"].astype(float)
df_2_1["2022/Q3"]

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_25528\810624301.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2_1["2022/Q3"] = df_2_1["2022/Q3"].astype(float)

0      4.46
1      4.96
2      4.82
3      0.99
4      3.55
       ...
373     NaN
374     NaN
375     NaN
376     NaN
377     NaN
Name: 2022/Q3, Length: 378, dtype: float64

In [290]:
a = pd.merge(df_1_1, df_2_1,how='inner', on=["업종코드","규모선택","2022/Q3"])
a

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3,통계표_y,지표선택_y,단위_y,변환_y
0,5.2.1. 성장성 지표,c1 식음료담배 (C10~C12),대기업,총자산증가율,%,원자료,NaN,5.2.2. 수익성 지표,총자산세전순이익률,%,원자료
1,5.2.1. 성장성 지표,c1 식음료담배 (C10~C12),대기업,총자산증가율,%,원자료,NaN,5.2.2. 수익성 지표,매출액세전순이익률,%,원자료
2,5.2.1. 성장성 지표,c1 식음료담배 (C10~C12),대기업,총자산증가율,%,원자료,NaN,5.2.2. 수익성 지표,매출액영업이익률,%,원자료
3,5.2.1. 성장성 지표,c1 식음료담배 (C10~C12),대기업,총자산증가율,%,원자료,NaN,5.2.2. 수익성 지표,금융비용대매출액,%,원자료
4,5.2.1. 성장성 지표,c1 식음료담배 (C10~C12),대기업,총자산증가율,%,원자료,NaN,5.2.2. 수익성 지표,차입금평균이자율,%,원자료
...,...,...,...,...,...,...,...,...,...,...,...
428,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,매출액세전순이익률,%,원자료
429,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,매출액영업이익률,%,원자료
430,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,금융비용대매출액,%,원자료
431,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,차입금평균이자율,%,원자료
432,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,5.2.2. 수익성 지표,이자보상비율,%,원자료

In [291]:
a["2022/Q3"].unique()

array([ nan, 2.97])

In [299]:
a["지표선택_x"].value_counts()

총자산증가율    217
매출액증가율    216
Name: 지표선택_x, dtype: int64

In [300]:
df_1["지표선택"].value_counts()

총자산증가율    63
매출액증가율    63
Name: 지표선택, dtype: int64

In [292]:
find_common_elements(df_1["2022/Q3"],df_2["2022/Q3"])

[]

In [294]:
df_1["2022/Q3"].isnull().sum()

72

In [295]:
df_2["2022/Q3"].isnull().sum()

216

In [296]:
df_1_1

               통계표                   업종코드  규모선택    지표선택  단위   변환  2022/Q3
0    5.2.1. 성장성 지표                    전산업    종합  총자산증가율  %   원자료     2.76
1    5.2.1. 성장성 지표                    전산업    종합  매출액증가율  %   원자료    17.52
2    5.2.1. 성장성 지표                    전산업   대기업  총자산증가율  %   원자료     2.72
3    5.2.1. 성장성 지표                    전산업   대기업  매출액증가율  %   원자료    19.00
4    5.2.1. 성장성 지표                    전산업  중소기업  총자산증가율  %   원자료     2.95
..             ...                    ...   ...     ...  ..  ...      ...
121  5.2.1. 성장성 지표  R 예술, 스포츠 및 여가관련 서비스업    종합  매출액증가율  %   원자료    24.72
122  5.2.1. 성장성 지표  R 예술, 스포츠 및 여가관련 서비스업   대기업  총자산증가율  %   원자료      NaN
123  5.2.1. 성장성 지표  R 예술, 스포츠 및 여가관련 서비스업   대기업  매출액증가율  %   원자료      NaN
124  5.2.1. 성장성 지표  R 예술, 스포츠 및 여가관련 서비스업  중소기업  총자산증가율  %   원자료      NaN
125  5.2.1. 성장성 지표  R 예술, 스포츠 및 여가관련 서비스업  중소기업  매출액증가율  %   원자료      NaN

[126 rows x 7 columns]

In [304]:
df_2_1[:10]

             통계표 업종코드 규모선택       지표선택  단위   변환  2022/Q3
0  5.2.2. 수익성 지표  전산업   종합  총자산세전순이익률  %   원자료     4.46
1  5.2.2. 수익성 지표  전산업   종합  매출액세전순이익률  %   원자료     4.96
2  5.2.2. 수익성 지표  전산업   종합   매출액영업이익률  %   원자료     4.82
3  5.2.2. 수익성 지표  전산업   종합   금융비용대매출액  %   원자료     0.99
4  5.2.2. 수익성 지표  전산업   종합   차입금평균이자율  %   원자료     3.55
5  5.2.2. 수익성 지표  전산업   종합     이자보상비율  %   원자료   487.11
6  5.2.2. 수익성 지표  전산업  대기업  총자산세전순이익률  %   원자료     4.36
7  5.2.2. 수익성 지표  전산업  대기업  매출액세전순이익률  %   원자료     4.83
8  5.2.2. 수익성 지표  전산업  대기업   매출액영업이익률  %   원자료     4.70
9  5.2.2. 수익성 지표  전산업  대기업   금융비용대매출액  %   원자료     0.92

In [303]:
pd.merge(df_1_1, df_2_1,how='inner', on=["업종코드","규모선택"])[:10]

,통계표_x,업종코드,규모선택,지표선택_x,단위_x,변환_x,2022/Q3_x,통계표_y,지표선택_y,단위_y,변환_y,2022/Q3_y
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,총자산세전순이익률,%,원자료,4.46
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,매출액세전순이익률,%,원자료,4.96
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,매출액영업이익률,%,원자료,4.82
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,금융비용대매출액,%,원자료,0.99
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,차입금평균이자율,%,원자료,3.55
5,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,5.2.2. 수익성 지표,이자보상비율,%,원자료,487.11
6,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,5.2.2. 수익성 지표,총자산세전순이익률,%,원자료,4.46
7,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,5.2.2. 수익성 지표,매출액세전순이익률,%,원자료,4.96
8,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,5.2.2. 수익성 지표,매출액영업이익률,%,원자료,4.82
9,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,5.2.2. 수익성 지표,금융비용대매출액,%,원자료,0.99

In [305]:
df_1

,통계표,업종코드,규모선택,지표선택,단위,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,2021/Q3,2021/Q2,2021/Q1,2020/Q4,2020/Q3,2020/Q2,2020/Q1,2019/Q4,2019/Q3
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,3.05,1.40,3.29,NaN,1.87,1.10,1.52,NaN,1.12
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,15.44,18.65,7.37,NaN,-3.17,-10.11,-1.86,NaN,-2.79
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,2.86,0.79,3.19,NaN,1.72,0.78,1.16,NaN,0.85
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,16.74,20.22,7.09,NaN,-3.60,-11.34,-1.87,NaN,-3.34
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,3.70,3.50,3.76,NaN,2.52,2.49,3.12,NaN,2.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",종합,매출액증가율,%,원자료,24.72,23.36,18.65,NaN,26.07,33.88,-6.60,NaN,-23.38,-27.84,-11.79,NaN,13.24
122,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",대기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [306]:
df_3

,통계표,업종코드,BSI코드,단위,변환,2023/05,2023/04,2023/03,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,6.1.1.1. 기업경기실사지수(실적),전 산 업,업황실적1),NaN,원자료,76.0,72.0,72.0,69.0,69.0,74.0,75.0,76.0,78.0,81.0,80.0,82.0,86.0
1,6.1.1.1. 기업경기실사지수(실적),전 산 업,업황실적(S.A),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6.1.1.1. 기업경기실사지수(실적),전 산 업,매출실적2),NaN,원자료,83.0,81.0,80.0,78.0,80.0,87.0,90.0,90.0,95.0,97.0,95.0,96.0,101.0
3,6.1.1.1. 기업경기실사지수(실적),전 산 업,수출실적2),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6.1.1.1. 기업경기실사지수(실적),전 산 업,내수판매실적2),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,6.1.1.1. 기업경기실사지수(실적),서비스업,채산성실적6),NaN,원자료,86.0,80.0,81.0,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
156,6.1.1.1. 기업경기실사지수(실적),서비스업,원자재구입가격실적4),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,6.1.1.1. 기업경기실사지수(실적),서비스업,제품판매가격실적4),NaN,원자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,6.1.1.1. 기업경기실사지수(실적),서비스업,자금사정실적6),NaN,원자료,86.0,82.0,85.0,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
159,6.1.1.1. 기업경기실사지수(실적),서비스업,인력사정실적3),NaN,원자료,82.0,82.0,80.0,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [311]:
df_1["업종코드"].unique()

array(['전산업', 'C 제조업', '  c1 식음료담배 (C10~C12)', '  c2 섬유의복가죽 (C13~C15)',
       '  c3 목재종이인쇄 (C16~C18)', '  c4 석유화학 (C19~C22)', '  c5 비금속광물 (C23)',
       '  c6 금속제품 (C24~C25)', '  c7 기계전기전자 (C26~C29)',
       '  c8 운송장비 (C30~C31)', '  c9 가구및기타 (C32~C34)', '비제조업', 'D35 전기가스업',
       'F 건설업', '서비스업', 'G 도매 및 소매업', 'H 운수업', 'I 숙박 및 음식점업',
       'J 출판, 영상, 방송통신 및 정보서비스업', 'M & N 전문, 과학기술 및 사업지원서비스업',
       'R 예술, 스포츠 및 여가관련 서비스업'], dtype=object)

In [312]:
df_3["업종코드"].unique()

array(['전 산 업', '  제 조 업', '    대 기 업', '    중소기업', '    중화학공업',
       '    경 공 업', '    수출기업', '    내수기업', '  비제조업', '    서비스업'],
      dtype=object)

In [319]:
c = pd.merge(df_1, df_3, how= 'outer', on="업종코드")
c

,통계표_x,업종코드,규모선택,지표선택,단위_x,변환_x,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,대기업,총자산증가율,%,원자료,2.72,2.21,3.78,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.2.1. 성장성 지표,전산업,대기업,매출액증가율,%,원자료,19.00,23.02,20.15,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,중소기업,총자산증가율,%,원자료,2.95,2.86,3.55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,NaN,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
282,NaN,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
283,NaN,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284,NaN,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
285,NaN,서비스업,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [321]:
d = pd.merge(df_1, df_3, how= 'outer', on="변환")
d

,통계표_x,업종코드_x,규모선택,지표선택,단위_x,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,69.0,69.0,74.0,75.0,76.0,78.0,81.0,80.0,82.0,86.0
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,78.0,80.0,87.0,90.0,90.0,95.0,97.0,95.0,96.0,101.0
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
20156,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20157,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20158,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
20159,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

# duplicate

In [326]:
# 중복 데이터가 있는지 확인하기 : DataFrame.duplicated()
d["지표선택"].duplicated()

0        False
1         True
2         True
3         True
4         True
         ...
20155     True
20156     True
20157     True
20158     True
20159     True
Name: 지표선택, Length: 20160, dtype: bool

In [333]:
# 중복이 있으면 처음과 끝 중 무슨 값을 남길 것인가? : keep = 'first', 'last', False
d[d["지표선택"].duplicated(keep= 'first')]

,통계표_x,업종코드_x,규모선택,지표선택,단위_x,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
1,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,78.0,80.0,87.0,90.0,90.0,95.0,97.0,95.0,96.0,101.0
3,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,82.0,78.0,82.0,84.0,86.0,86.0,86.0,86.0,90.0,90.0
20156,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20157,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20158,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,86.0,82.0,84.0,83.0,84.0,87.0,88.0,87.0,88.0,90.0
20159,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [334]:
# 중복값 처리(unique한 1개의 key만 남기고 나머지 중복은 제거): DataFrame.drop_duplicates()
d.drop_duplicates(['지표선택'], keep='first')

,통계표_x,업종코드_x,규모선택,지표선택,단위_x,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
0,5.2.1. 성장성 지표,전산업,종합,총자산증가율,%,원자료,2.76,2.33,3.73,NaN,...,69.0,69.0,74.0,75.0,76.0,78.0,81.0,80.0,82.0,86.0
160,5.2.1. 성장성 지표,전산업,종합,매출액증가율,%,원자료,17.52,20.51,17.04,NaN,...,69.0,69.0,74.0,75.0,76.0,78.0,81.0,80.0,82.0,86.0

In [337]:
d.drop_duplicates(['지표선택'], keep='last')

,통계표_x,업종코드_x,규모선택,지표선택,단위_x,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
19999,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,총자산증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
20159,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0

In [338]:
d.drop_duplicates(['업종코드_x'], keep='last')

,통계표_x,업종코드_x,규모선택,지표선택,단위_x,변환,2022/Q3,2022/Q2,2022/Q1,2021/Q4,...,2023/02,2023/01,2022/12,2022/11,2022/10,2022/09,2022/08,2022/07,2022/06,2022/05
959,5.2.1. 성장성 지표,전산업,중소기업,매출액증가율,%,원자료,10.96,10.22,7.51,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
1919,5.2.1. 성장성 지표,C 제조업,중소기업,매출액증가율,%,원자료,13.31,10.90,12.52,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
2879,5.2.1. 성장성 지표,c1 식음료담배 (C10~C12),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
3839,5.2.1. 성장성 지표,c2 섬유의복가죽 (C13~C15),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
4799,5.2.1. 성장성 지표,c3 목재종이인쇄 (C16~C18),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
5759,5.2.1. 성장성 지표,c4 석유화학 (C19~C22),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
6719,5.2.1. 성장성 지표,c5 비금속광물 (C23),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
7679,5.2.1. 성장성 지표,c6 금속제품 (C24~C25),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
8639,5.2.1. 성장성 지표,c7 기계전기전자 (C26~C29),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
9599,5.2.1. 성장성 지표,c8 운송장비 (C30~C31),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
10559,5.2.1. 성장성 지표,c9 가구및기타 (C32~C34),중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
11519,5.2.1. 성장성 지표,비제조업,중소기업,매출액증가율,%,원자료,8.76,9.58,2.62,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
12479,5.2.1. 성장성 지표,D35 전기가스업,중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
13439,5.2.1. 성장성 지표,F 건설업,중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
14399,5.2.1. 성장성 지표,서비스업,중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
15359,5.2.1. 성장성 지표,G 도매 및 소매업,중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
16319,5.2.1. 성장성 지표,H 운수업,중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
17279,5.2.1. 성장성 지표,I 숙박 및 음식점업,중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
18239,5.2.1. 성장성 지표,"J 출판, 영상, 방송통신 및 정보서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
19199,5.2.1. 성장성 지표,"M & N 전문, 과학기술 및 사업지원서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0
20159,5.2.1. 성장성 지표,"R 예술, 스포츠 및 여가관련 서비스업",중소기업,매출액증가율,%,원자료,NaN,NaN,NaN,NaN,...,83.0,82.0,82.0,82.0,81.0,81.0,82.0,79.0,82.0,84.0